 
/*<div id="sample"></div>
#sample{};

<div></div>
<p class="first"><p>
.first{*/

body{
background-color: grey;
}
a:link{
color:white;
text-decoration:none;
}

.logo1{
height: 250px;
width: 600px;
float:middle;
font-size: 150%;
}
a:hover{
color:blue;
text-decoration: none;
}

.logo{
height: 250px;
float: left;
}
.cursive{
font-weight: bold;
padding: 50px;
background-image: url("images/barn1.jpg");
background-size: contain;
background-color: tan;  
text-align: center; 
color: white;
font-size: 400%;
border-style:ridge;
border-width: 20px;
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
left:150px;
down: 20px;
}

h1{
font-weight:  ;
padding: 50px;
background-size: contain;
background-color: tan;  
text-align: center; 
color: white;
font-size: 200%;
border-style:ridge;
border-width: 10px;
background-position: center; /* Center the image */
left:200px;
down: 50px;
}
p{
color:white;
text-decoration:none;
font-size: 120%;
}

.pecan1{
float: right;
}

.logo10{
height: 250px;
width: 300px;
float:right;
top:30px; right:30px;bottom:30px; left:30px;
}

#pecan3{
height: 250px;
width: 300px;
float:right;
top:30px; right:30px;bottom:30px; left:30px;
}
