  
/*<div id="sample"></div>
#sample{};

<div></div>
<p class="first"><p>
.first{*/









  

a:link{
text-decoration:none;
background-color:none;
color:white;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:;
color:;
}
a:focus{
text-decoration:none;
}
a:active{
text-decoration:none;
}







body{
backgound-image:linear gradient: blue,gray);
background-color: grey;

}

h1{
font-weight: bold;
padding: 50px;
background-size: contain;
background-position: center; /* Center the image */
background-image:url("images/pecan8.jpg"); opacity:.8;
background-color: tan;  
text-align: center; 
color: white;
font-size: 350%;
border-style:ridge;
border-width: 10px;

margin-left: 30px;
margin-right: 30px;
}

img{
box-sizing: border-box;
width:350px;
height:250px;
padding:;
border:none;
background-color:;
background-image:url;
background-repeat:;
background-attachment:;
background-position:;
border-radius:25px;
border-style:;
border-width:;
bordor-color:;
margin-top:;
margin-right:;
margin-bottom:;
margin-left:;
z-index:1;
}

#button1{backround-color: rgb(23,52,89);color: black;
height30px;
width:300px;
margin-left:20px;
}
#first{
box-sizing: border-box;
width:650px;
height:200px;
padding:;
border:none;
background-color:blue;
background-image:url("images/pecan3.jpg");
background-opacity: 0.5;
background-repeat:none;
background-attachment:;
background-position:center;
background-size:cover;
border-radius:;
border-style:;
border-width:;
bordor-color:;
margin-top:;
margin-right:600px;
margin-bottom:10px;
margin-left:;
color:white;
font-size: 25px;
font-family:serif, sans-serif,monospace;
font-style:normal;
font-weight:500;
z-index:2;
}
#firstP{
margin-bottom:10px;
margin-left:600px;
}

#second{
box-sizing: border-box;
width:650px;
height:200px;
padding:;
border:none;
background-color:;
background-image:url("images/pecan6.jpg");
background-opacity: 0.5;
background-repeat:none;
background-attachment:;
background-position:center;
background-size:cover;
border-radius:;
border-style:;
border-width:;
bordor-color:;
margin-top:;
margin-right:;
margin-bottom:10px;
margin-left:600px;
color:white;
font-size: 20px;
font-family:serif, sans-serif,monospace;
font-style:normal;
font-weight:500;
z-index:2;
}
#secondP{
margin-right:600px;
margin-bottom:10px;
}
#third{
box-sizing: border-box;
width:650px;
height:200px;
padding:;
border:none;
background-color:blue;
background-image:url("images/pecan1.jpg");
background-opacity: 0.5;
background-repeat:none;
background-attachment:;
background-position:center;
background-size:cover;
border-radius:;
border-style:;
border-width:;
bordor-color:;
margin-top:;
margin-right:600px;
margin-bottom:10px;
margin-left:;
color:black;
font-size: 25px;
font-family:serif, sans-serif,monospace;
font-style:normal;
font-weight:500;
z-index:2;
}
#thirdP{
margin-bottom:10px;
margin-left:600px;
}
#forth{
box-sizing: border-box;
width:650px;
height:200px;
padding:;
border:none;
background-color:;
background-image:url("images/pecan7.jpg");
background-opacity: 0.5;
background-repeat:none;
background-attachment:;
background-position:center;
background-size:cover;
border-radius:;
border-style:;
border-width:;
bordor-color:;
margin-top:;
margin-right:;
margin-bottom:10px;
margin-left:600px;
color:white;
font-size: 25px;
font-family:serif, sans-serif,monospace;
font-style:normal;
font-weight:500;
z-index:2;
}

